# Ignora tutto
**/*

# Formati per Html
!**/*.html
!**/*.css

# Formati per JavaScript
!**/*.js

# Formati per c
!**/*.c

# File geerici
!LICENSE
!*/
!**/*.md
!**/*.txt
!**/*.pdf
!**/*.png
!**/*.jpg
!**/*.gitignore